#!/usr/bin/make -f
#export DH_VERBOSE = 1

# Variables used for constructing a local GOPATH during build
WORKING_GOPATH=$(CURDIR)/.gopath
ORG_DIR=$(WORKING_GOPATH)/src/github.com/aws
BUILD_DIR=$(ORG_DIR)/amazon-ecs-cli
export GOCACHE=$(CURDIR)/.gocache

%:
	dh $@

# Construct the local GOPATH
override_dh_auto_configure:
	mkdir -p $(ORG_DIR)
	ln -s $(CURDIR) $(BUILD_DIR)

override_dh_auto_build:
	cd $(BUILD_DIR) && GOPATH=$(WORKING_GOPATH) $(MAKE) -C $(BUILD_DIR) $(BUILD_TARGET)

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(WORKING_GOPATH) $(GOCACHE)

override_dh_auto_test:
	cd $(BUILD_DIR) && GOPATH=$(WORKING_GOPATH) $(MAKE) test
